.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

.selects {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.selectsDivs {
  margin: 0px 10px 0px 10px;
}
