.principalSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 65.7vh;
}

h3 {
  text-align: center;
  margin-top: 50px; /* Ajusta el valor según sea necesario */
}

.sectionOne {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
}

.sectionTwo {
  width: 30%;
  text-align: center;
}

.sectionThree {
  width: 30%;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.labels {
  margin-bottom: 5px;
}

.inputs {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 5px;
}

.stepContainer {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.dietContainer {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}
